body {
  font-family: sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

header, footer {
  text-align: center;
  padding: 1em;
  background: #1e293b;
  color: white;
}

h1 {
  margin: 0.2em;
}

main {
  padding: 2em;
}

svg {
  display: block;
  margin: 0 auto;
}

.annotation-group {
  font-size: 12px;
  fill: #333;
}

#explore-controls {
  text-align: center;
  margin-top: 2em;
}

.annotation-group .annotation-note-title {
  font-weight: bold;
  fill: #111;
}
.annotation-group .annotation-note-label {
  font-size: 12px;
  fill: #111;
}